/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #46424D;
  color: #CBC9CF;
  margin: 0;

}
.top-banner {
  text-align: center;
  background-color: #46424D;
  padding: .3vh;
}

.container {
  display:flex
}
.new-activity-box {
  width: 71vw;
  height: 87vh;
  flex-direction: column;
  justify-content: center;
  border-right-color: #dcdbde;
  background-color: #2B2733;
}

.category-box {
  display: flex;
  vertical-align: middle;
  width: 58vw;
  height: 67vh;
  font-size: 100%;
  padding: 4%;
  position: relative;
  top: 4vh;
  left: 2vw;
  border-radius: 8px;
  align-items: flex-start;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #46424D;
}

.select-a-category {
position: relative;
top: 5%;
left: 7%;

}

.category-button {
/*   display: flex;
  justify-content: space-between; */
  position: relative;
  top: 15%;
  left: -20%;
  border-radius: 5px;
  border-width: 2px;
  color: #CBC9CF;
  border-color: white;
  height: 12%;
  width: 20%;
}

 #study {
  background:url(./assets/study.svg) no-repeat center;
  background-size: 25%;
  position: relative;
  left: -19%;
}

#meditate {
  background:url(./assets/meditate.svg) no-repeat center;
  background-size: 25%;
  position: relative;
  left: -5%;
}

#exercise {
  background:url(./assets/exercise.svg) no-repeat center;
  background-size: 25%;
  position: relative;
  left: 10%;
}

.past-activities-box {
  position: relative;
  top: 0vh;
  left: 0.4vw;
  width: 32vw;
  height: 87vh;
  background-color: #2B2733;
}
